cache-ttl=60
config-dir=/etc
daemon=yes
distributor-threads=1
guardian=yes
local-address={{ pdns_auth_listen_addr }}
local-port={{ pdns_auth_listen_port }}
loglevel=3
module-dir=/usr/lib/pdns/pdns
negquery-cache-ttl=60
setgid=pdns
setuid=pdns
socket-dir=/var/run
webserver=no

launch=gpgsql
gpgsql-host={{ pg_listen_addr }}
gpgsql-user={{ pg_db_user }}
gpgsql-dbname={{ pg_db_name }}
gpgsql-password={{ pg_db_pass }}
