#!/sbin/openrc-run

USER=gocd
GROUP=gocd
SERVICE="go-agent"
COMMAND="/opt/go-agent-{{ go_agent_version }}/agent.sh"
CMD_ARGS="${GO_AGENT_OPTS}"
CMD_ENV="${GO_AGENT_ENV}"
DIR="/opt/go-agent-{{ go_agent_version }}"

depend() {
    need net
    need localmount
}

start() {
    ebegin "Starting ${SERVICE}"
    start-stop-daemon --background --start \
    --make-pidfile --pidfile /run/${SERVICE}.pid \
    --exec ${CMD_ENV} ${COMMAND} \
    --user ${USER:-root} \
    --group ${GROUP:-root} \
    --chdir ${DIR} \
    -- ${CMD_ARGS}
    eend $?
}

stop() {
    ebegin "Stopping ${SERVICE}"
    start-stop-daemon --stop --exec ${COMMAND} \
    --pidfile /run/${SERVICE}.pid
    eend $?
}
