ROCKETCHAT_OPTS="main.js"
ROCKETCHAT_ENV="env PORT={{ rocketchat_listen_port }} ROOT_URL=http://{{ rocketchat_url_name }}:{{ rocketchat_url_port }}/ MONGO_URL=mongodb://{{ rocketchat_mongodb_addr }}:{{ rocketchat_mondodb_port }}/rocketchat"