server {
	listen 80;
	listen [::]:80;
        root /var/www/localhost/htdocs/;
{% if php5 is defined or php7 is defined %}
        location / {
          index  index.php;
   	}
        location ~ \.php$ {
          fastcgi_pass 127.0.0.1:9000;
          fastcgi_index index.php;
          fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
          include fastcgi_params;
         }
{% endif %}
}
