logging.level: warning
logging.to_files: true
logging.to_syslog: false
logging.files:
  path: /var/log/
  name: packetbeat.log
  keepfiles: 7

packetbeat.interfaces.device: any

packetbeat.flows:
  timeout: 30s
  period: 10s

output.elasticsearch:
  hosts: ["{{ ship_addr}}:{{ ship_port }}"]


