---
# tasks file for alpine_grafana

- name: Install packages needed
  apk:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
      - ca-certificates
      - tar

- name: Get the key for glibc 
  get_url:
    url: https://raw.githubusercontent.com/sgerrand/alpine-pkg-glibc/master/sgerrand.rsa.pub
    dest: /etc/apk/keys/sgerrand.rsa.pub
    mode: 0440

- name: Get glibc 
  get_url:
    url: https://github.com/sgerrand/alpine-pkg-glibc/releases/download/2.25-r0/glibc-2.25-r0.apk
    dest: /tmp/glibc-2.25-r0.apk
    mode: 0440

- name: Install packages glibc
  apk:
    name: /tmp/glibc-2.25-r0.apk
    state: present

- name: Create /opt
  file:
     dest: /opt
     state: directory
     mode: 0755  
      
- name: Get Grafana
  unarchive:
      src: https://s3-us-west-2.amazonaws.com/grafana-releases/release/grafana-{{ grafana_version }}.linux-x64.tar.gz
      dest: /opt
      remote_src: True
      creates: /opt/grafana-{{ grafana_version }}
      
- name: Install init.d
  template:
     src: grafana.init.d.j2
     dest: /etc/init.d/grafana
     mode: 0755
    
- name: Install conf.d
  copy:
     src: grafana.conf.d
     dest: /etc/conf.d/grafana
     mode: 0440
     
- name: Start Grafana
  service:
      name: grafana
      state: started
      enabled: true
