#!/sbin/openrc-run

USER=elsearch
GROUP=elsearch
SERVICE="elasticsearch"
COMMAND="/opt/elasticsearch-{{ elasticsearch_version }}/bin/elasticsearch"
CMD_ARGS="${ELASTICSEARCH_OPTS}"
DIR="/opt/elasticsearch-{{ elasticsearch_version }}"

depend() {
    need net
    need localmount
}

start() {
    ebegin "Starting ${SERVICE}"
    ulimit -n 65536 
    start-stop-daemon --background --start \
    --make-pidfile --pidfile /run/${SERVICE}.pid \
    --exec ${COMMAND} \
    --user ${USER:-root} \
    --group ${GROUP:-root} \
    --chdir ${DIR} \
    -- ${CMD_ARGS}
    eend $?
}

stop() {
    ebegin "Stopping ${SERVICE}"
    start-stop-daemon --stop --exec ${COMMAND} \
    --pidfile /run/${SERVICE}.pid
    eend $?
}