#!/sbin/openrc-run

USER=root
GROUP=root
SERVICE="filebeat"
COMMAND="/opt/filebeat-{{ filebeat_version }}/filebeat"
CMD_ARGS="${FILEBEAT_OPTS}"
DIR="/opt/filebeat-{{ filebeat_version }}"

depend() {
    need net
    need localmount
}

start() {
    ebegin "Starting ${SERVICE}"
    start-stop-daemon --background --start \
    --make-pidfile --pidfile /run/${SERVICE}.pid \
    --exec ${COMMAND} \
    --user ${USER:-root} \
    --group ${GROUP:-root} \
    --chdir ${DIR} \
    -- ${CMD_ARGS}
    eend $?
}

stop() {
    ebegin "Stopping ${SERVICE}"
    start-stop-daemon --stop --exec ${COMMAND} \
    --pidfile /run/${SERVICE}.pid
    eend $?
}
