logging.level: warning
logging.to_files: true
logging.to_syslog: false
logging.files:
  path: /var/log/
  name: filebeat.log
  keepfiles: 7

filebeat.prospectors:
- type: log
  paths:
    - /var/log/*.log
    - /var/log/messages

output.elasticsearch:
  hosts: ["{{ ship_addr}}:{{ ship_port }}"]

setup.kibana:
  host: "{{ kibana_addr }}:{{ kibana_port }}"
